
ion-content {
    --ion-background-color: pink;
    .title {
        font-size: 2.5em;
        font-weight: bold;
    }
    .question {
        font-size: 1.5 em;
    }
    .quote {
        font-size: 1.5em;
        font-weight: bold;
        font-style: italic;
    }
    .option {
        font-size: 1em;
    }
    .icon {
        padding-right: 0.25em;
    }
    .tit {
        background-color: pink;
    }
}