<ion-content class="ion-padding">
<h1>Disney Visa</h1>
<h3>Aikasi oli {{ durationSeconds }} sekuntia</h3>
<p>Näpäytä kuvaketta kerran jatkaaksesi.</p>
<img src="../../assets/imgs/ribbon.png"
    (click)="goHome()" tappable/>
</ion-content>
