<ion-content class="ion-padding">
  <p class='title'>Disney Visa</p>
  <p class='quote'>Kysymys {{questionCounter}}/{{questions.length}}:
    Valitse oikea vaihtoehto</p>
    <p class='quote'>
      <ion-icon class='icon' name='bowtie'></ion-icon>{{activeQuestion?.quote}} <ion-icon class='icon' name='bowtie'></ion-icon>
    </p>
    <ion-list>
      <ion-radio-group>
        <ion-item *ngFor="let option of activeQuestion?.options; let i=index">
          <ion-label class='option'>{{option}}</ion-label>
          <ion-radio *ngIf=!isCorrect (ionSelect)="checkOption(i, activeQuestion)">
          </ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <p>{{feedback}}</p>
    <img *ngIf=isCorrect src="../../assets/imgs/ribbon.png"
    (click)="setQuestion()" tappable/>
</ion-content>
